@import "bootstrap";
@import "../../node_modules/open-iconic/font/css/open-iconic-bootstrap.scss";

label{
  display: block;
}

nav{
  background: $gray-400;
  position: relative;
  -webkit-app-region: drag;
  
  .title{
    display: inline-block;
    padding: .4em 2em .5em;
    font-weight: bold;
    font-size: 1em;
    margin: 0;
  }

  button.btn{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0;
    display: block;
    font-size: .8em;
    padding-top: .3em;
    -webkit-app-region: no-drag;
    outline: none !important;
    box-shadow: none !important;
  }
}

.paths-panel{
  padding: 2rem;

  .input-group{
    margin-top: .5rem;
  }
  label{
    font-weight: bold;
  }
}
.options-panel{
  padding: 2rem;
  height: 100%;
  background-color: $gray-200;

  .input-group{
    margin-top: .2rem;
  }
}